@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: black;
  --color-card: white;
  --color-card-foreground: black;
  --color-popover: white;
  --color-popover-foreground: black;
  --color-primary: #ef4444; /* red-500 */
  --color-primary-foreground: white;
  --color-secondary: #f3f4f6; /* gray-100 */
  --color-secondary-foreground: #111827; /* gray-900 */
  --color-muted: #f3f4f6;
  --color-muted-foreground: #6b7280;
  --color-accent: #f3f4f6;
  --color-accent-foreground: #111827;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f9fafb;
  --color-border: #e5e7eb; /* gray-200 */
  --color-input: #e5e7eb;
  --color-ring: black;

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
